// Abstracts
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";

// Base styles
@import "base/reset";
@import "base/typography";
@import "base/base";

// Layout
@import "layouts/header";
@import "layouts/footer";
@import "layouts/sidebar";
@import "layouts/grid";
@import "layouts/containers";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/navbar";
@import "components/form";

// Pages
@import "pages/home";
@import "pages/about";
@import "pages/contact";

// Themes
@import "themes/dark";
@import "themes/light";

// Vendors
@import "vendors/bootstrap";
@import "vendors/normalize";
