@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html {
  scroll-behavior: smooth;
}

.banner {
  background-color: #1f1f1f;
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  transform: translateX(440px);
}
.banner .footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0;
  padding: 20px;
}
.banner .footer-content .about {
  width: 55%;
}
.banner .footer-content .footer-contact {
  width: 35%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner .footer-content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Montserra";
  font-weight: 100;
}
.banner .footer-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  margin-left: 50px;
  font-family: "montserra";
  font-weight: 100;
}
.banner .footer-content p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 10px 0;
  margin-left: 50px;
  font-weight: lighter;
}
.banner .footer-content .footer-contact p {
  margin: 5px 0;
  margin-top: 20px;
}
.banner .footer-content .footer-mobile p {
  font-size: 25px;
  font-family: "montserra";
  font-weight: 100;
}
.banner .footer-content a {
  color: #e0e0e0;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
  margin-top: 30px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.banner .footer-content a:hover {
  text-decoration: underline;
  color: #927248;
}
.banner .footer-content .social-icons {
  margin-top: 20px;
  margin-bottom: 60px;
}
.banner .footer-content .social-icons a {
  font-size: 1.2rem;
  color: #e0e0e0;
  margin-right: 10px;
  transition: color 0.3s;
}
.banner .footer-content .social-icons a:hover {
  color: #ffffff;
}
.banner .footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 0;
  border-top: 1px solid #333;
  background-color: #000000;
}
.banner .footer-bottom p {
  margin: 0;
  color: #888888;
}

.navbar {
  background-color: #1b1b1b;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  height: 1000px;
  width: 350px;
  flex-direction: column;
  text-align: center;
  padding-left: 50px;
  position: fixed;
}
.navbar h1 {
  color: #927248;
  font-size: 35px;
  margin: 10px;
  font-family: "Open Sans" serif;
  font-weight: lighter;
}
.navbar .etoiles p {
  color: #927248;
  margin: 0;
  font-size: small;
}
.navbar h3 {
  color: #cccccc;
  margin: 10px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-family: "Abel";
  font-weight: bolder;
}
.navbar .infos {
  margin: 30px 0;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar .infos .flaticon-call {
  font-size: 45px;
  margin-bottom: 0px;
  color: #927248;
  transform: translateY(10px);
}
.navbar span {
  margin: 0;
  color: #927248;
  font-size: 25px;
  font-family: "Abel";
  font-weight: bolder;
}
.navbar .infos-reservation {
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b6b0b0;
  margin: 0;
  display: inline-block;
}
.navbar .infos-reservation p {
  margin: 5px;
}
.navbar ul {
  padding: 0;
}
.navbar ul li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Agdasima";
}
.navbar ul li a {
  font-weight: 100;
  letter-spacing: 2px;
}
.navbar ul li .mobile {
  color: #927248;
}
.navbar a {
  color: #b6b0b0;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar a:hover {
  color: #927248;
}
.navbar .navbar-links {
  flex-direction: column;
  width: 100%;
}

.home *.stars {
  color: #e3a752;
  letter-spacing: 3px;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home *.sur-titre {
  color: #ab8a62;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.home * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home header .header-img-container {
  background: url(/images/slider/2.jpg) center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.home header .header-img-container .header-text-img-container {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.home header .header-img-container .header-text-img-container .subtitle-header-img-container {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 0.9rem;
}
.home header .header-img-container .header-text-img-container .title-header-img-container {
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-bottom: 30px;
  font-size: 3rem;
}
.home header .header-img-container .header-text-img-container a {
  text-decoration: none;
  color: whitesmoke;
}
.home header .header-img-container .header-text-img-container a:hover {
  text-decoration: none;
}
.home header .header-img-container .header-text-img-container a .btn-header-img-container {
  cursor: pointer;
  height: 40px;
  width: 180px;
  text-transform: uppercase;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.24);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home header .header-img-container .header-text-img-container a .btn-header-img-container:hover {
  background: rgba(245, 245, 245, 0.493);
  color: black;
}
.home header .header-desc {
  display: flex;
  background: rgb(41, 41, 41);
  color: whitesmoke;
  height: 600px;
  padding: 50px 80px 80px 80px;
}
.home header .header-desc .header-desc-legende {
  width: 50%;
}
.home header .header-desc .header-desc-legende .sur-titre {
  margin: 20px 0;
}
.home header .header-desc .header-desc-legende h2 {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 0 30px 0;
}
.home header .header-desc .header-desc-legende p {
  line-height: 25px;
  color: rgb(160, 160, 160);
}
.home header .header-desc .header-desc-imgs {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 30px;
}
.home header .header-desc .header-desc-imgs .header-desc-img {
  height: 80%;
  width: 47%;
  background-image: url(../images/rooms/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home header .header-desc .header-desc-imgs .header-desc-img:first-child {
  transform: translateY(100px);
  background-image: url(../images/rooms/8.jpg);
}
.home main {
  background: rgb(36, 36, 36);
}
.home main section {
  padding: 50px 90px;
}
.home main section.chambers {
  padding: 50px 90px;
  height: 1000px;
}
.home main section.chambers .chambers-container {
  height: 100%;
}
.home main section.chambers .chambers-container h2 {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 15px;
}
.home main section.chambers .chambers-container .chambers-img-containers {
  width: 100%;
  display: grid;
  gap: 40px;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: rgb(209, 209, 209);
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button {
  position: absolute;
  border: 1px solid rgb(116, 116, 116);
  rotate: -90deg;
  right: 0%;
  top: 50px;
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button:hover {
  background: rgba(255, 255, 255, 0.2745098039);
  color: #000000;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc {
  position: absolute;
  bottom: 8%;
  left: 5%;
  cursor: pointer;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc:hover * {
  color: #e3a752 !important;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-cost {
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: whitesmoke;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name h3 {
  font-weight: lighter;
  color: whitesmoke;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name:after {
  position: absolute;
  content: "";
  background: rgb(155, 155, 155);
  width: 50px;
  height: 1px;
  top: 35px;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name:after:hover {
  color: #e3a752 !important;
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  height: 50%;
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group .chambers-img-container:nth-child(1) {
  background-image: url(/images/rooms/1.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group .chambers-img-container:nth-child(2) {
  background-image: url(/images/rooms/2.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group .chambers-img-container:nth-child(3) {
  background-image: url(/images/rooms/3.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.second-group {
  height: 35%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home main section.chambers .chambers-container .chambers-img-containers.second-group .chambers-img-container:nth-child(1) {
  background-image: url(/images/rooms/4.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.second-group .chambers-img-container:nth-child(2) {
  background-image: url(/images/rooms/7.jpg);
}
.home main section.rooms {
  background: rgb(41, 41, 41);
  height: 1400px;
}
.home main section.rooms .rooms-container {
  height: 100%;
}
.home main section.rooms .rooms-container .rooms-card {
  background: rgb(46, 46, 46);
  height: 25%;
  display: flex;
}
.home main section.rooms .rooms-container .rooms-card .rc-img {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home main section.rooms .rooms-container .rooms-card #rci-1 {
  background-image: url(/images/restaurant/1.jpg);
}
.home main section.rooms .rooms-container .rooms-card #rci-2 {
  background-image: url(/images/spa/3.jpg);
}
.home main section.rooms .rooms-container .rooms-card #rci-3 {
  background-image: url(/images/spa/2.jpg);
}
.home main section.rooms .rooms-container .rooms-card #rci-4 {
  background-image: url(/images/spa/1.jpg);
}
.home main section.rooms .rooms-container .rooms-card .rc-desc {
  width: 50%;
  padding: 0 20px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container {
  color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container .sur-titre {
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 13px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container h3 {
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-bottom: 18px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container p {
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  line-height: 25px;
  margin-bottom: 20px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container button {
  background: #ab8a62;
  border: none;
  width: 155px;
  height: 40px;
  color: whitesmoke;
  letter-spacing: 1px;
  cursor: pointer;
}
.home main section.rooms .rooms-container .rooms-card:nth-child(even) {
  flex-direction: row-reverse;
}
.home main section.options {
  background: rgb(41, 41, 41);
  height: 500px;
  color: whitesmoke;
}
.home main section.options .options-container {
  height: 100%;
  display: flex;
  gap: 40px;
}
.home main section.options .options-container .options-desc {
  aspect-ratio: 1/1;
  width: 40%;
  padding: 20px;
}
.home main section.options .options-container .options-desc h2 {
  font-size: 3rem;
  margin-bottom: 25px;
  font-weight: lighter;
}
.home main section.options .options-container .options-desc p {
  line-height: 25px;
  opacity: 0.6;
  margin-bottom: 30px;
}
.home main section.options .options-container .options-desc .options-desc-infos {
  display: flex;
  align-items: center;
}
.home main section.options .options-container .options-desc .options-desc-infos i {
  font-size: 35px;
  margin-right: 10px;
  color: #ab8a62;
}
.home main section.options .options-container .options-desc .options-desc-infos .odi-txt p {
  margin: 0;
  font-size: 0.9rem;
}
.home main section.options .options-container .options-desc .options-desc-infos .odi-txt .phone-tel {
  color: #ab8a62;
  transform: scaleY(1.2);
}
.home main section.options .options-container .options-card {
  padding: 50px;
  aspect-ratio: 1/1;
  width: 30%;
  background: rgb(51, 51, 51);
  color: rgb(155, 155, 155);
}
.home main section.options .options-container .options-card .options-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.home main section.options .options-container .options-card .options-card-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: whitesmoke;
  font-weight: lighter;
}
.home main section.options .options-container .options-card .options-card-container .price-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
.home main section.options .options-container .options-card .options-card-container .price-container .price {
  color: #ab8a62;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}
.home main section.options .options-container .options-card .options-card-container ul li {
  display: flex;
  margin-bottom: 20px;
  list-style: none;
}
.home main section.options .options-container .options-card .options-card-container ul li .options-icon {
  color: #e3a752;
  display: flex;
}
.home main section.options .options-container .options-card .options-card-container ul li .options-icon i {
  height: 30px;
  width: 30px;
}
.home main section.options .options-container .options-card .options-card-container ul li:last-child i {
  color: rgb(155, 155, 155);
}
.home main section.services {
  background: rgb(41, 41, 41);
  height: 100%;
  color: rgb(155, 155, 155);
}
.home main section.services .services-container {
  height: 100%;
}
.home main section.services .services-container h2 {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 50px;
}
.home main section.services .services-container .services-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.home main section.services .services-container .services-container-cards .services-container-card {
  border: 1px solid rgb(49, 49, 49);
  aspect-ratio: 1/1;
  padding: 40px 20px 20px 20px;
}
.home main section.services .services-container .services-container-cards .services-container-card i {
  display: inline-block;
  color: #ab8a62;
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.home main section.services .services-container .services-container-cards .services-container-card h3 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.home main section.services .services-container .services-container-cards .services-container-card p {
  line-height: 25px;
  font-size: 0.9rem;
}

.contact {
  background-color: #2b2b2b;
  color: white;
  width: 100%;
}
.contact h3 {
  font-family: "Sedan", serif;
  font-size: 25px;
}
.contact .contact-block {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
}
.contact .contact-block .info-block {
  padding: 100px;
}
.contact .contact-block .info-block p {
  font-family: "montserrat", sans-serif;
}
.contact .contact-block .info-block .contact-info {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.contact .contact-block .info-block .contact-info span {
  color: #927248;
  font-size: 25px;
  font-family: "roboto", sans-serif;
}
.contact .contact-block .info-block .contact-info .flaticon-location-pin,
.contact .contact-block .info-block .contact-info .flaticon-envelope,
.contact .contact-block .info-block .contact-info .flaticon-call {
  color: #927248;
  font-size: 35px;
  padding-right: 15px;
}
.contact .contact-block .contact-form {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.contact .contact-block .contact-form form {
  display: flex;
  flex-direction: column;
}
.contact .contact-block .contact-form form .champ {
  border-bottom: 10%;
  background-color: #2b2b2b;
  color: white;
  padding-bottom: 2px;
  padding-top: 30px;
  padding-right: 30px;
  margin-right: 30px;
  height: 30px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-width: 1px;
}
.contact .contact-block .contact-form form #message {
  background-color: #2b2b2b;
  color: white;
  height: 75px;
  padding-top: 20px;
  margin-right: 30px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-width: 1px;
}
.contact .contact-block .contact-form form #form-button {
  margin-top: 30px;
  background-color: #d4ae4d;
  border: none;
  color: white;
  width: 125px;
  height: 35px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.contact .map-block {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
.contact .map-block #map {
  width: 60%;
  filter: grayscale(1);
}

.chambre {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  display: block;
}

h2 {
  font-size: 25px;
}

.image-container {
  background-image: url("./images/rooms/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

span {
  color: #daa520;
}

.text-image-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.left-part {
  padding-left: 65px;
  padding-right: 35px;
  background-color: #2b2b2b;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 65px;
  width: 65%;
}

.right-part {
  display: flex;
  justify-content: space-between;
  align-items: right;
  background-color: #2b2b2b;
  padding: 50px;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 0.9em;
  padding-top: 160px;
}

.list-style-type {
  text-align: center;
  padding: 15px;
}

.ti-check {
  color: #daa520;
}

.flaticon-group,
.flaticon-wifi,
.flaticon-clock-1,
.flaticon-breakfast,
.flaticon-towel,
.flaticon-swimming {
  margin-right: 18px;
  width: 24px;
  height: 24px;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
  color: #daa520;
  font-size: 25px;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

.sur-titre {
  color: #daa520;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul {
  padding: 0;
}

ul li {
  display: flex;
  margin-right: 15px;
}

.check-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
  color: white;
  background-size: cover;
  text-align: justify;
}

.bouton-de-reservation {
  display: inline-block;
  padding: 15px 30px;
  background-color: rgba(73, 71, 71, 0.9607843137);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */