@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-left: 440px;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.banner {
  background-color: rgb(36, 36, 36);
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  margin-left: 440px;
  box-sizing: border-box;
}
@media screen and (max-width: 450px) {
  .banner {
    height: 650px;
  }
}
.banner .footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}
@media screen and (max-width: 450px) {
  .banner .footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.banner .footer-content .about {
  width: 70%;
  margin-left: 32px;
}
@media screen and (max-width: 450px) {
  .banner .footer-content .about {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
.banner .footer-content .about p {
  width: 50%;
  line-height: 1.6rem;
}
.banner .footer-content .footer-contact {
  width: 30%;
}
@media screen and (max-width: 450px) {
  .banner .footer-content .footer-contact {
    width: 100%;
    text-align: center;
  }
}
.banner .footer-content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Montserra";
  font-weight: 100;
  margin-left: 20px;
}
.banner .footer-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  margin-left: 50px;
  font-family: "montserra";
  font-weight: 100;
}
@media screen and (max-width: 450px) {
  .banner .footer-content h2 {
    margin: 20px 0;
  }
}
.banner .footer-content p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 10px 0;
  margin-left: 50px;
  font-weight: lighter;
  color: rgb(155, 155, 155);
}
@media screen and (max-width: 450px) {
  .banner .footer-content p {
    margin: 0;
    text-align: left;
    margin: auto;
    width: 90% !important;
  }
}
.banner .footer-content .footer-contact p {
  margin: 5px 0;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.banner .footer-content .footer-mobile p {
  font-size: 25px;
  font-family: "montserra";
  font-weight: 100;
  color: #e0e0e0;
}
.banner .footer-content .flaticon-call {
  margin-right: 10px;
}
.banner .footer-content a {
  color: #927248;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
  margin-top: 30px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.banner .footer-content a:hover {
  color: #e0e0e0;
}
.banner .footer-content .social-icons {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 20px;
  text-align: left;
}
.banner .footer-content .social-icons a {
  font-size: 1.2rem;
  color: #e0e0e0;
  margin-right: 10px;
  transition: color 0.3s;
}
.banner .footer-content .social-icons a:hover {
  color: #ffffff;
}
.banner .footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 0;
  border-top: 1px solid #333;
  background-color: #1e1e11;
}
.banner .footer-bottom p {
  margin: 0;
  color: #888888;
}

.navbar {
  background-color: #1b1b1b;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  height: 100%;
  width: 350px;
  flex-direction: column;
  text-align: center;
  padding-left: 50px;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  .navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    align-items: center;
    padding: 30px 0;
    overflow-y: hidden;
    /*
    &:after {
      content: "";
      position: absolute;
      height: 180px;
      width: 100%;
      background: red;
      top: 180px;
      left: 0;
    }
    &:after:hover {
      top: 360px;
    }*/
  }
  .navbar:hover {
    top: 0px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 450px) {
  .navbar {
    height: 50px;
    padding: 15px 0;
  }
}
.navbar h1 {
  color: #927248;
  font-size: 35px;
  margin: 10px;
  font-family: "Open Sans" serif;
  font-weight: lighter;
}
@media screen and (max-width: 450px) {
  .navbar h1 {
    font-size: 15px;
    margin: 5px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar .etoiles {
    transform: translateY(-10px);
  }
}
.navbar .etoiles p {
  color: #927248;
  margin: 0;
  font-size: small;
}
@media screen and (max-width: 1200px) {
  .navbar .etoiles p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 450px) {
  .navbar .etoiles p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar .menu-burger {
    position: absolute;
    left: 30px;
    top: 40px;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .navbar .menu-burger * {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .navbar .menu-burger {
    width: 45px;
    height: 45px;
    left: 10px;
    top: 10px;
  }
}
.navbar .menu-burger .burger-barre {
  display: none;
}
@media screen and (max-width: 1200px) {
  .navbar .menu-burger .burger-barre {
    display: inline-block;
    height: 3px;
    width: 80%;
    background: whitesmoke;
    border-radius: 15px;
  }
}
@media screen and (max-width: 450px) {
  .navbar .menu-burger .burger-barre {
    height: 1px;
  }
}
.navbar h3 {
  color: #cccccc;
  margin: 10px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-family: "Abel";
  font-weight: bolder;
}
@media screen and (max-width: 450px) {
  .navbar h3 {
    font-size: 10px;
    letter-spacing: 1px;
    margin: 5px;
  }
}
.navbar .infos {
  margin: 30px 0;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar .infos .flaticon-call {
  font-size: 45px;
  margin-bottom: 0px;
  color: #927248;
  transform: translateY(10px);
}
.navbar span {
  margin: 0;
  color: #927248;
  font-size: 25px;
  font-family: "Abel";
  font-weight: bolder;
}
.navbar .infos-reservation {
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b6b0b0;
  margin: 0;
  display: inline-block;
}
.navbar .infos-reservation p {
  margin: 5px;
}
.navbar ul {
  padding: 0;
}
@media screen and (max-width: 450px) {
  .navbar ul {
    background: red;
    position: absolute;
    z-index: 100;
  }
}
.navbar li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Agdasima";
}
.navbar li a {
  font-weight: 100;
  letter-spacing: 2px;
}
.navbar li .surbrillance {
  color: #927248;
}

a {
  color: #b6b0b0;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
a:hover {
  color: #927248;
}

.navbar-links {
  flex-direction: column;
  width: 100%;
}

.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: 440px;
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  .home {
    margin-left: 0;
  }
}
.home *.stars {
  color: #e3a752;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.2rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 450px) {
  .home *.stars {
    font-size: 0.8rem;
  }
}
.home *.sur-titre {
  color: #ab8a62;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transform: scaleY(1.2);
  font-size: 0.8rem;
}
.home * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home * p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(155, 155, 155);
}
.home header .header-img-container {
  position: relative;
  background: url(/images/slider/2.jpg);
  background-size: 125% cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
@media screen and (max-width: 1200px) {
  .home header .header-img-container {
    background-size: cover;
    height: 65vh;
    cursor: pointer;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-img-container {
    height: 70vh;
  }
}
.home header .header-img-container .header-img-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.205);
}
.home header .header-img-container .header-text-img-container {
  z-index: 1;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .home header .header-img-container .header-text-img-container {
    transform: scale(0.7);
    margin-top: 120px;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-img-container .header-text-img-container {
    transform: scale(0.7);
    margin-top: 80px;
  }
}
.home header .header-img-container .header-text-img-container * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home header .header-img-container .header-text-img-container .subtitle-header-img-container {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}
.home header .header-img-container .header-text-img-container .title-header-img-container {
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-bottom: 30px;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  .home header .header-img-container .header-text-img-container .title-header-img-container {
    font-size: 1.5rem;
    letter-spacing: 15px;
  }
}
.home header .header-img-container .header-text-img-container a {
  text-decoration: none;
  color: whitesmoke;
}
.home header .header-img-container .header-text-img-container a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .home header .header-img-container .header-text-img-container a {
    position: absolute;
    height: 80vh;
    width: 140vw;
    z-index: 10;
    opacity: 0;
  }
}
.home header .header-img-container .header-text-img-container a .btn-header-img-container {
  cursor: pointer;
  height: 50px;
  width: 220px;
  text-transform: uppercase;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.24);
  color: rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home header .header-img-container .header-text-img-container a .btn-header-img-container span {
  letter-spacing: 2.8px;
  transform: scaleY(1.4);
  font-weight: 500;
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home header .header-img-container .header-text-img-container a .btn-header-img-container:hover {
  background: rgba(245, 245, 245, 0.493);
  color: black;
}
.home header .header-desc {
  display: flex;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  height: 600px;
  padding: 50px 80px 80px 80px;
}
@media screen and (max-width: 1350px) {
  .home header .header-desc {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1200px) {
  .home header .header-desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .home header .header-desc {
    height: 35vh;
    padding: 10px 60px 60px 60px;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-desc {
    padding: 10px 25px 10px 25px;
  }
}
.home header .header-desc .header-desc-legende {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .home header .header-desc .header-desc-legende {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-desc .header-desc-legende .stars {
    font-size: 0.6rem;
  }
}
.home header .header-desc .header-desc-legende .sur-titre {
  margin: 20px 0;
}
@media screen and (max-width: 1350px) {
  .home header .header-desc .header-desc-legende .sur-titre {
    margin: 7px 0;
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-desc .header-desc-legende .sur-titre {
    font-size: 0.5rem !important;
    margin: 3px 0;
  }
}
.home header .header-desc .header-desc-legende h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0 0 30px 0;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (max-width: 1350px) {
  .home header .header-desc .header-desc-legende h2 {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 1200px) {
  .home header .header-desc .header-desc-legende h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-desc .header-desc-legende h2 {
    font-size: 1.8rem !important;
    margin-bottom: 10px;
  }
}
.home header .header-desc .header-desc-legende p {
  line-height: 25px;
  color: rgb(155, 155, 155);
}
@media screen and (max-width: 1200px) {
  .home header .header-desc .header-desc-legende p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 22px;
  }
}
@media screen and (max-width: 900px) {
  .home header .header-desc .header-desc-legende p {
    font-size: 1.2rem !important;
    line-height: 20px;
  }
}
@media screen and (max-width: 650px) {
  .home header .header-desc .header-desc-legende p {
    font-size: 1rem !important;
    line-height: 15px;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-desc .header-desc-legende p {
    line-height: 15px;
    font-size: 0.6rem !important;
    margin: 5px;
  }
}
@media screen and (max-width: 450px) {
  .home header .header-desc .header-desc-legende br {
    display: none;
  }
}
.home header .header-desc .header-desc-imgs {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 30px;
}
@media screen and (max-width: 1200px) {
  .home header .header-desc .header-desc-imgs {
    display: none;
  }
}
.home header .header-desc .header-desc-imgs .header-desc-img {
  height: 80%;
  width: 47%;
  background-image: url(../images/rooms/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home header .header-desc .header-desc-imgs .header-desc-img:first-child {
  transform: translateY(100px);
  background-image: url(../images/rooms/8.jpg);
}
.home main {
  background: rgb(31, 31, 31);
}
.home main section {
  padding: 50px 90px;
}
@media screen and (max-width: 1200px) {
  .home main section {
    padding: 20px 0px;
  }
}
.home main section.chambers {
  height: 1000px;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers {
    padding: 20px 0px;
    height: 5000px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers {
    height: 2500px;
  }
}
.home main section.chambers .chambers-container {
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container {
    text-align: center;
  }
}
.home main section.chambers .chambers-container .sur-titre {
  margin-bottom: 15px;
  transform: scaleY(1.4);
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .sur-titre {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .sur-titre {
    font-size: 0.5rem;
  }
}
.home main section.chambers .chambers-container h2 {
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 35px;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container h2 {
    font-size: 1.6rem;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers {
  width: 100%;
  display: grid;
  gap: 40px;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: rgb(209, 209, 209);
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container {
    height: 80%;
    cursor: pointer;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button {
  z-index: 1;
  position: absolute;
  border: 1px solid rgb(116, 116, 116);
  rotate: -90deg;
  right: -10px;
  top: 60px;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  transform: scaleY(1.2);
  padding: 4px 10px 7px 10px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button {
    rotate: 0deg;
    top: 108%;
    right: 30px;
    border: 2px solid whitesmoke;
    padding: 40px 120px;
    border-radius: 50px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button {
    top: 110%;
    padding: 20px 80px;
    border-radius: 50px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button {
    top: 112%;
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-button:hover {
  background: rgba(255, 255, 255, 0.2745098039);
  color: #000000;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc {
  z-index: 1;
  position: absolute;
  bottom: 8%;
  left: 5%;
  cursor: pointer;
  letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc {
    bottom: -17%;
    left: 100px;
    transform: scale(1.3);
  }
}
@media screen and (max-width: 700px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc {
    bottom: -17%;
    left: 50px;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc {
    bottom: -23%;
    left: 10px;
    transform: scale(0.9);
  }
}
@media screen and (max-width: 600px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc {
    transform: scale(0.8);
    left: 0;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc:hover * {
  color: #e3a752 !important;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc:hover .cicd-name:after {
  color: #e3a752 !important;
  background: #e3a752;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc:hover .chambers-items {
  transition: 0.2s;
  margin-top: 15px;
  opacity: 1;
  height: 20px;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-cost {
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-cost {
    font-size: 0.75rem;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name {
  position: relative;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name {
    font-size: 1rem;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name h3 {
  font-weight: lighter;
  color: whitesmoke;
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name:after {
  position: absolute;
  content: "";
  background: rgb(155, 155, 155);
  width: 50px;
  height: 1px;
  top: 35px;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name:after {
    left: 1%;
    width: 80px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .cicd-name:after {
    width: 50px;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers .chambers-img-container .chambers-img-container-desc .chambers-items {
  height: 0;
  opacity: 0;
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  height: 50%;
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .chambers-img-containers.first-group {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 2900px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers.first-group {
    height: 1400px;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group .chambers-img-container:nth-child(1) {
  background-image: url(/images/rooms/1.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group .chambers-img-container:nth-child(2) {
  background-image: url(/images/rooms/2.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.first-group .chambers-img-container:nth-child(3) {
  background-image: url(/images/rooms/3.jpg);
}
.home main section.chambers .chambers-container .chambers-img-containers.second-group {
  height: 35%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1200px) {
  .home main section.chambers .chambers-container .chambers-img-containers.second-group {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 1900px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.chambers .chambers-container .chambers-img-containers.second-group {
    height: 900px;
  }
}
.home main section.chambers .chambers-container .chambers-img-containers.second-group .chambers-img-container:nth-child(1) {
  background-image: url(/images/rooms/4.jpg);
  order: 2;
}
.home main section.chambers .chambers-container .chambers-img-containers.second-group .chambers-img-container:nth-child(2) {
  background-image: url(/images/rooms/7.jpg);
  order: 1;
}
.home main section.rooms {
  background-color: rgb(36, 36, 36);
  height: 1400px;
}
@media screen and (max-width: 1200px) {
  .home main section.rooms {
    height: 2200px;
  }
}
.home main section.rooms .rooms-container {
  height: 100%;
}
.home main section.rooms .rooms-container .rooms-card {
  background: rgb(45, 45, 45);
  height: 25%;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .home main section.rooms .rooms-container .rooms-card {
    flex-direction: column;
    cursor: pointer;
  }
}
.home main section.rooms .rooms-container .rooms-card .rc-img {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .home main section.rooms .rooms-container .rooms-card .rc-img {
    width: 100%;
    height: 55%;
  }
}
.home main section.rooms .rooms-container .rooms-card #rci-1 {
  background-image: url(/images/restaurant/1.jpg);
}
.home main section.rooms .rooms-container .rooms-card #rci-2 {
  background-image: url(/images/spa/3.jpg);
}
.home main section.rooms .rooms-container .rooms-card #rci-3 {
  background-image: url(/images/spa/2.jpg);
}
.home main section.rooms .rooms-container .rooms-card #rci-4 {
  background-image: url(/images/spa/1.jpg);
}
.home main section.rooms .rooms-container .rooms-card .rc-desc {
  width: 50%;
  padding: 0 20px 0 25px;
}
@media screen and (max-width: 1200px) {
  .home main section.rooms .rooms-container .rooms-card .rc-desc {
    width: 100%;
    padding: 20px 30px;
  }
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container {
  color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container .sur-titre {
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 13px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container h3 {
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-bottom: 18px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container p {
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  line-height: 25px;
  margin-bottom: 20px;
}
.home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container button {
  background: #ab8a62;
  border: none;
  width: 165px;
  height: 35px;
  color: whitesmoke;
  letter-spacing: 2px;
  transform: scaleY(1.25);
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .home main section.rooms .rooms-container .rooms-card .rc-desc .rc-desc-container button {
    display: none;
  }
}
.home main section.rooms .rooms-container .rooms-card:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1200px) {
  .home main section.rooms .rooms-container .rooms-card:nth-child(even) {
    flex-direction: column;
  }
}
.home main section.options {
  background-color: rgb(36, 36, 36);
  height: 450px;
  color: whitesmoke;
}
@media screen and (max-width: 1550px) {
  .home main section.options {
    height: 350px;
  }
}
@media screen and (max-width: 1450px) {
  .home main section.options {
    padding: 50px;
    height: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options {
    height: 600px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options {
    padding: 20px;
    height: 650px;
  }
}
.home main section.options .options-container {
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1800px) {
  .home main section.options .options-container {
    height: 90%;
  }
}
@media screen and (max-width: 1650px) {
  .home main section.options .options-container {
    height: 80%;
  }
}
@media screen and (max-width: 1550px) {
  .home main section.options .options-container {
    height: 100%;
  }
}
@media screen and (max-width: 1450px) {
  .home main section.options .options-container {
    flex-wrap: wrap;
    justify-content: center;
    height: 260px;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container {
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container {
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container {
    gap: 10px;
  }
}
.home main section.options .options-container .options-desc {
  aspect-ratio: 1/1;
  height: 100%;
  padding: 20px;
}
@media screen and (max-width: 1450px) {
  .home main section.options .options-container .options-desc {
    height: 200px;
    aspect-ratio: auto;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-desc {
    width: 100%;
    aspect-ratio: auto;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-desc {
    padding: 0 20px;
  }
}
.home main section.options .options-container .options-desc h2 {
  font-size: 3rem;
  margin-bottom: 25px;
  font-weight: lighter;
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-desc h2 {
    font-size: 1.5rem;
  }
}
.home main section.options .options-container .options-desc p {
  line-height: 25px;
  opacity: 0.6;
  margin-bottom: 30px;
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-desc p {
    font-size: 0.85rem;
  }
}
.home main section.options .options-container .options-desc .options-desc-infos {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-desc .options-desc-infos {
    margin-left: 25px;
  }
}
.home main section.options .options-container .options-desc .options-desc-infos i {
  font-size: 35px;
  margin-right: 10px;
  color: #ab8a62;
}
.home main section.options .options-container .options-desc .options-desc-infos .odi-txt p {
  margin: 0;
  font-size: 0.9rem;
}
.home main section.options .options-container .options-desc .options-desc-infos .odi-txt .phone-tel {
  color: #ab8a62;
  transform: scaleY(1.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home main section.options .options-container .options-card {
  padding: 50px;
  aspect-ratio: 1/1;
  background: rgb(45, 45, 45);
  color: rgb(155, 155, 155);
  height: 100%;
}
@media screen and (max-width: 1650px) {
  .home main section.options .options-container .options-card {
    padding: 30px;
  }
}
@media screen and (max-width: 1550px) {
  .home main section.options .options-container .options-card {
    padding: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-card {
    width: 45%;
    height: 50%;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-card {
    padding: 10px;
    aspect-ratio: auto;
    height: 25%;
    width: 70%;
  }
}
.home main section.options .options-container .options-card .options-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.home main section.options .options-container .options-card .options-card-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: whitesmoke;
  font-weight: lighter;
}
@media screen and (max-width: 1900px) {
  .home main section.options .options-container .options-card .options-card-container h2 {
    font-size: 1.5vw !important;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-card .options-card-container h2 {
    font-size: 2.5vw !important;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .home main section.options .options-container .options-card .options-card-container h2 {
    font-size: 3vw !important;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-card .options-card-container h2 {
    font-size: 1.1rem !important;
  }
}
.home main section.options .options-container .options-card .options-card-container .price-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-card .options-card-container .price-container {
    margin-bottom: 15px;
  }
}
.home main section.options .options-container .options-card .options-card-container .price-container .price {
  color: #ab8a62;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1900px) {
  .home main section.options .options-container .options-card .options-card-container .price-container .price {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-card .options-card-container .price-container .price {
    font-size: 3.5vw !important;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-card .options-card-container .price-container .price {
    font-size: 1.3rem !important;
  }
}
.home main section.options .options-container .options-card .options-card-container ul li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  margin-bottom: 12px;
  list-style: none;
}
@media screen and (max-width: 1900px) {
  .home main section.options .options-container .options-card .options-card-container ul li {
    font-size: 1.1vw;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.options .options-container .options-card .options-card-container ul li {
    font-size: 1.6vw !important;
  }
}
@media screen and (max-width: 800px) {
  .home main section.options .options-container .options-card .options-card-container ul li {
    font-size: 2vw !important;
  }
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-card .options-card-container ul li {
    font-size: 0.65rem !important;
    height: 10px;
    margin-bottom: 10px;
  }
}
.home main section.options .options-container .options-card .options-card-container ul li .options-icon {
  color: #e3a752;
  display: flex;
}
.home main section.options .options-container .options-card .options-card-container ul li .options-icon i {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 450px) {
  .home main section.options .options-container .options-card .options-card-container ul li .options-icon i {
    width: 15px;
    height: 15px;
  }
}
.home main section.options .options-container .options-card .options-card-container ul li:last-child i {
  color: rgb(155, 155, 155);
}
.home main section.services {
  background-color: rgb(36, 36, 36);
  height: 100%;
  color: rgb(155, 155, 155);
}
@media screen and (max-width: 1200px) {
  .home main section.services {
    padding: 120px 20px 80px 20px;
  }
}
@media screen and (max-width: 450px) {
  .home main section.services {
    padding: 0px 10px 20px 10px;
  }
}
.home main section.services .services-container {
  height: 100%;
}
.home main section.services .services-container h2 {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 50px;
}
@media screen and (max-width: 450px) {
  .home main section.services .services-container h2 {
    font-size: 2.2rem;
  }
}
.home main section.services .services-container .services-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
@media screen and (max-width: 1700px) {
  .home main section.services .services-container .services-container-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1350px) {
  .home main section.services .services-container .services-container-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 65%;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .home main section.services .services-container .services-container-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 65%;
    margin: auto;
  }
}
@media screen and (max-width: 1000px) {
  .home main section.services .services-container .services-container-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 65%;
    margin: auto;
    justify-content: center;
  }
}
.home main section.services .services-container .services-container-cards .services-container-card {
  border: 1px solid rgb(49, 49, 49);
  aspect-ratio: 1/1;
  padding: 40px 20px 20px 20px;
}
@media screen and (max-width: 1700px) {
  .home main section.services .services-container .services-container-cards .services-container-card {
    height: 350px;
    margin: auto;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .home main section.services .services-container .services-container-cards .services-container-card {
    height: 300px;
    padding: 15px;
  }
}
.home main section.services .services-container .services-container-cards .services-container-card i {
  display: inline-block;
  color: #ab8a62;
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.home main section.services .services-container .services-container-cards .services-container-card h3 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.home main section.services .services-container .services-container-cards .services-container-card p {
  line-height: 25px;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 1200px) {
  .home main section.services .services-container .services-container-cards .services-container-card p {
    font-size: 0.8rem;
  }
}

.contact {
  margin-left: 440px;
  background-color: #2b2b2b;
  color: #ffffff;
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  .contact {
    margin-left: 0;
    margin-top: 180px;
  }
}
.contact h3 {
  font-family: "Sedan", serif;
  font-size: 25px;
}
.contact .contact-block {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
}
.contact .contact-block .info-block {
  padding: 100px;
}
.contact .contact-block .info-block p {
  font-family: "montserrat", sans-serif;
}
.contact .contact-block .info-block .contact-info {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.contact .contact-block .info-block .contact-info span {
  color: #927248;
  font-size: 25px;
  font-family: "roboto", sans-serif;
}
.contact .contact-block .info-block .contact-info .flaticon-location-pin,
.contact .contact-block .info-block .contact-info .flaticon-envelope,
.contact .contact-block .info-block .contact-info .flaticon-call {
  color: #927248;
  font-size: 35px;
  padding-right: 15px;
}
.contact .contact-block .contact-form {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.contact .contact-block .contact-form form {
  display: flex;
  flex-direction: column;
}
.contact .contact-block .contact-form form .champ {
  border-bottom: 10%;
  background-color: #2b2b2b;
  color: white;
  padding-bottom: 2px;
  padding-top: 30px;
  padding-right: 30px;
  margin-right: 30px;
  height: 30px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-width: 1px;
}
.contact .contact-block .contact-form form #message {
  background-color: #2b2b2b;
  color: white;
  height: 75px;
  padding-top: 20px;
  margin-right: 30px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-width: 1px;
}
.contact .contact-block .contact-form form #form-button {
  margin-top: 30px;
  background-color: #d4ae4d;
  border: none;
  color: white;
  width: 125px;
  height: 35px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.contact .map-block {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
.contact .map-block #map {
  width: 60%;
  filter: grayscale(1);
}

.chambre {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: 440px;
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  .chambre {
    margin-left: 0;
    margin-top: 180px;
  }
}
.chambre .image-container {
  background-image: url("./images/rooms/4.jpg");
  background-size: 100% cover;
  background-position: right center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
}
.chambre .image-container .filtre {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.233);
}
.chambre .image-container .text-image-container {
  margin: auto auto;
  overflow: hidden;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.chambre .image-container .text-image-container span {
  color: #e3a752;
  font-size: 1.5rem;
  letter-spacing: 8px;
}
.chambre .image-container .text-image-container h3 {
  margin-top: 30px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.chambre .image-container .text-image-container h1 {
  letter-spacing: 20px;
  font-weight: lighter;
  font-size: 3rem;
  line-height: 60px;
  margin-top: 20px;
}
.chambre main {
  display: flex;
  background-color: #1f1f1f;
  color: white;
  background-size: cover;
  text-align: justify;
  width: 100%;
}
.chambre main h3 {
  font-size: 2rem !important;
}
.chambre main .left-part {
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 35px 65px 150px 65px;
  width: 65%;
}
.chambre main .left-part .sur-titre {
  color: #ab8a62;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transform: scaleY(1.2);
}
.chambre main .left-part h2 {
  font-size: 3rem !important;
  margin: 10px 0;
  font-weight: lighter;
}
.chambre main .left-part p {
  line-height: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.chambre main .left-part .check-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.chambre main .left-part .check-block .ul-check-block {
  width: 50%;
}
.chambre main .left-part .check-block .ul-check-block ul {
  margin: 0;
  padding: 0;
}
.chambre main .left-part .check-block .ul-check-block ul li {
  list-style: none;
  color: rgb(155, 155, 155);
}
.chambre main .left-part .check-block .ul-check-block ul li .ti-check {
  display: inline-block;
  color: #daa520;
  margin-right: 10px;
  font-size: 1.5rem;
}
.chambre main .left-part .instructions-block {
  margin-top: 20px;
  margin-bottom: 50px;
}
.chambre main .left-part .instructions-block h3 {
  margin: 0;
}
.chambre main .left-part .bouton-de-reservation {
  display: inline-block;
  padding: 6px 25px;
  background-color: rgba(73, 71, 71, 0.9607843137);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  letter-spacing: 4px;
  transform: scaleY(1.5);
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}
.chambre main .left-part .bouton-de-reservation p {
  margin: 0;
  color: whitesmoke;
}
.chambre main .right-part {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding: 50px;
  flex-wrap: wrap;
  font-size: 0.9em;
  padding-top: 160px;
  width: 35%;
}
.chambre main .right-part .right-part-container {
  padding-right: 90px;
}
.chambre main .right-part .right-part-container ul {
  padding: 0;
}
.chambre main .right-part .right-part-container ul li {
  list-style-type: none;
  margin: 15px 15px;
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.chambre main .right-part .right-part-container ul li .flaticon-group,
.chambre main .right-part .right-part-container ul li .flaticon-wifi,
.chambre main .right-part .right-part-container ul li .flaticon-clock-1,
.chambre main .right-part .right-part-container ul li .flaticon-breakfast,
.chambre main .right-part .right-part-container ul li .flaticon-towel,
.chambre main .right-part .right-part-container ul li .flaticon-swimming {
  margin-right: 18px;
  width: 24px;
  height: 24px;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
  color: #ab8a62;
  font-size: 25px;
  margin-bottom: 20px;
}
.chambre p {
  line-height: 1.6;
  color: rgb(155, 155, 155);
}
.chambre h1,
.chambre h2,
.chambre h3 {
  font-weight: lighter;
}
.chambre h2 {
  font-size: 2.5rem !important;
}
.chambre .sur-titre {
  color: #daa520;
  text-transform: uppercase;
  letter-spacing: 2px;
}/*# sourceMappingURL=main.css.map */