//Couleurs
$stars: #e3a752;
$surTitre: #ab8a62;
$bouton: #ab8a62;
$texte: rgb(155, 155, 155);
$color: rgb(168, 129, 29);
$bg-footer: rgb(36, 36, 36);
$bg-bis: rgb(31, 31, 31);
$bg-cards: rgb(45, 45, 45);

//Media queries
$mq-mobile: 1200px;
$mq-large: 1600px;
