@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.navbar {
    background-color: #1b1b1b;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    height: 1000px;
    width: 350px;
    flex-direction: column;
    text-align: center;
    padding-left: 50px;
    position: fixed;


    h1 {
        color: #927248; // Couleur dorée pour le logo
        font-size: 35px;
        margin: 10px;
        font-family: "Open Sans" serif;
        font-weight: lighter;

    }

    .etoiles {

        p {
            color: #927248;
            margin: 0;
            font-size: small;
        }
    }

    h3 {

        color: #cccccc;
        margin: 10px;
        letter-spacing: 5px;
        margin-bottom: 50px;
        font-family: "Abel";
        font-weight: bolder;


    }

    .infos {
        margin: 30px 0;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 30px;


        .flaticon-call {
            font-size: 45px; // Taille de l'icône de téléphone
            margin-bottom: 0px;
            color: #927248;
            transform: translateY(10px);



        }
    }

    span {

        margin: 0;
        color: #927248;
        font-size: 25px;
        font-family: "Abel";
        font-weight: bolder;






    }


    .infos-reservation {
        font-size: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #b6b0b0;
        margin: 0;
        display: inline-block;

        p {
            margin: 5px;
        }


    }


    ul {
        padding: 0;

        li {
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: left;
            margin-bottom: 20px;
            font-family: "Agdasima";

            a {
                font-weight: 100;
                letter-spacing: 2px;
            }

            .mobile {
                color: #927248;
            }
        }
    }


    // Styles des liens de navigation

    a {
        color: #b6b0b0; // Couleur de base des liens
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;




        &:hover {
            color: #927248; // Couleur légèrement plus claire au survol
        }


    }



    // Conteneur pour les liens de navigation
    .navbar-links {
        flex-direction: column;
        width: 100%;


    }
}