// body {
//     background-color: #1a1a1a;
//     color: #e0e0e0;
//     display: flex;
//     min-height: 100vh;
//     background-size: cover;
//     border: 2px;
// }

.chambre {
    width: 100%;
    overflow-x: hidden;
}

h1 {
    display: block;
}

h2 {
    font-size: 25px;
}

.image-container {
    background-image: url("./images/rooms/4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

span {
    color: #daa520;
}

.text-image-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.left-part {
    padding-left: 65px;
    padding-right: 35px;
    background-color: #2b2b2b;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 65px;
    width: 65%;
}

.right-part {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: #2b2b2b;
    padding: 50px;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 0.9em;
    padding-top: 160px;
}

.list-style-type {
    text-align: center;
    padding: 15px;
}

.ti-check {
    color: #daa520;
}


.flaticon-group,
.flaticon-wifi,
.flaticon-clock-1,
.flaticon-breakfast,
.flaticon-towel,
.flaticon-swimming {
    margin-right: 18px;
    width: 24px;
    height: 24px;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: right;
    color: #daa520;
    font-size: 25px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}


.sur-titre {
    color: #daa520;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    padding: 0;
}


ul li {
    display: flex;
    margin-right: 15px;
}

.check-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


main {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    color: white;
    background-size: cover;
    text-align: justify;
}

.bouton-de-reservation {
    display: inline-block;
    padding: 15px 30px;
    background-color: #494747f5;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}