.contact {
    background-color: #2b2b2b;
    color: white;
    width: 100%;

    h3 {
        font-family: "Sedan", serif;
        font-size: 25px;
    }
}

.contact-block {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;

    .info-block {
        padding: 100px;

        p {
            font-family: "montserrat", sans-serif;
        }

        .contact-info {
            display: flex;
            align-items: center;
            padding-top: 20px;

            span {
                color: #daa520;
                font-size: 25px;
                font-family: "roboto", sans-serif;

            }

            .flaticon-location-pin,
            .flaticon-envelope,
            .flaticon-call {
                color: #daa520;
                font-size: 35px;
                padding-right: 15px;
            }
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        padding: 100px;

        form {
            display: flex;
            flex-direction: column;


            .champ {
                border-bottom: 10%;
                background-color: #2b2b2b;
                color: white;
                padding-bottom: 10px;
                padding-top: 30px;
                padding-right: 30px;
                margin-right: 30px;
                height: 30px;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                border-width: 1px;
            }

            #message {
                background-color: #2b2b2b;
                color: white;
                height: 75px;
                padding-top: 20px;
                margin-right: 30px;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                border-width: 1px;
            }

            #form-button {
                margin-top: 30px;
                background-color: #d4ae4d;
                border: none;
                color: white;
                width: 125px;
                height: 35px;
                cursor: pointer;
                font-family: "montserrat", sans-serif;
                font-size: 16px;
                font-weight: normal;

            }
        }

    }
}

.map-block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    #map {
        width: 60%;
    }
}